#---Initial Configuration---
#Wed Feb 17 11:05:50 CST 2016
Z=Z
DEFENSE=defense
X=X
LEFT=LEFT
PREPARATIONS=preparations
MAIN=random
CURING=curing
OVERWORLD=overworld
VOLUME=1.0
RIGHT=RIGHT
FIGHT=fight
DOWN=DOWN
RETURN=RETURN
END=end
UP=UP
ENEMY=enemy
SCALE=1.0
AUTOCURSOR=START
C=C
D=D

#---Patch---
#Fri Apr 06 13:15:07 CDT 2018
TARGETFPS=60
