#---Initial Configuration---
#Wed Apr 11 16:17:36 CDT 2018
FIGHT=fight
AUTOCURSOR=START
Z=Z
X=X
PREPARATIONS=preparations
UP=UP
VOLUME=1.0
END=end
RETURN=RETURN
DEFENSE=defense
TARGETFPS=60
RIGHT=RIGHT
LORD=lord
LEFT=LEFT
SCALE=1.0
D=D
C=C
MAIN=main
CURING=curing
OVERWORLD=overworld
ENEMY=enemy
DOWN=DOWN
