#---Initial Configuration---
#Fri Jun 22 17:32:13 EDT 2018
FIGHT=fight
AUTOCURSOR=START
Z=Z
X=X
PREPARATIONS=preparations
UP=UP
VOLUME=1.0
END=end
RETURN=RETURN
DEFENSE=defense
TARGETFPS=60
RIGHT=RIGHT
LEFT=LEFT
SCALE=1.0
D=D
C=C
MAIN=main
CURING=curing
ACTUAL\ ODDS=TRUE
OVERWORLD=overworld
ENEMY=enemy
DOWN=DOWN

#---Patch---
#Thu Jan 21 23:07:28 CST 2021
LORD=lord
FOG\ COLOR=DAY
